:root {
  /* Keys */
  --key-bg: #e6e6e6;
  --key-fg: #1b1b1b;
  --absent-bg: #4a4a4a;
  --absent-fg: #ffffff;
  --present-bg: #ffd900;
  --present-fg: #ffffff;
  --correct-bg: #00cc00;
  --correct-fg: #ffffff;
  /* Other colors */
  --unknown-tile-border: #cacaca;
  --accent-color: #696969;
  --text-color: #1b1b1b;
  --link-color: #2364dd;
  --page-background: #ffffff;
  /* Modal */
  --overlay-background: #ffffffbb;
  --modal-border: #dadada;
  /* Segmented Control */
  --segmented-background: #ebebeb;
  --segmented-selected: #ffffff;
  /* Toast */
  --toast-bg: #121212;
  --toast-fg: #e8e8e8;
}

.dark {
  /* Keys */
  --key-bg: #676767;
  --key-fg: #e8e8e8;
  --absent-bg: #383838;
  --absent-fg: #ffffff;
  --present-bg: #d5b500;
  --present-fg: #ffffff;
  --correct-bg: #12aa12;
  --correct-fg: #ffffff;
  /* Other colors */
  --unknown-tile-border: #585858;
  --accent-color: #939393;
  --text-color: #e8e8e8;
  --link-color: #b7b7fd;
  --page-background: #121212;
  /* Modal */
  --overlay-background: #121212cf;
  --modal-border: #212121;
  /* Segmented Control */
  --segmented-background: #303030;
  --segmented-selected: #565656;
  /* Toast */
  --toast-bg: #ffffff;
  --toast-fg: #1b1b1b;
}

:root {
  --font-size: 16px;
  --app-width: 350px;
}

.linja-pona {
  --font-size: 29px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body,
html,
#svelte {
  /* Can't use 100vh since Safari iOS includes below-the-fold areas. */
  height: 100%;
}

body {
  background: var(--page-background);
  color: var(--text-color);
  font-size: var(--font-size);
  font-family: "Nunito Sans", sans-serif;
  line-height: 1.5;
}

.linja-pona {
  font-family: linja-pona;
  font-size: var(--font-size);
  font-feature-settings: "liga";
  line-height: 1.3;
}

.linja-pona a {
  /* Otherwise the line cuts into cartouches. */
  text-underline-position: under;
  /* Prevent super thick lines. */
  text-decoration-thickness: 2px;
}

.linja-pona i {
  /* Don't artificially skew the text. */
  font-style: normal !important;
}

h1 {
  font-size: 28px;
  font-weight: 900;
}

.linja-pona h1 {
  font-size: 40px;
  font-weight: normal;
}

h2 {
  font-size: 22px;
  font-weight: 700;
}

.linja-pona h2 {
  font-size: 40px;
  font-weight: normal;
}

a {
  color: var(--link-color);
}

button {
  border: none;
  padding: 0;
  margin: 0;
  font: inherit;
  background: none;
  color: inherit;
  line-height: inherit;
  user-select: none;
  -webkit-user-select: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

fieldset {
  border: 0;
}

legend {
  margin-bottom: 5px;
  font-weight: bold;
}
