:root {
  /* Keys */
  --unknown-background: #e6e6e6;
  --absent-background: #5b5b5b;
  --present-background: #ffdb0a;
  --correct-background: #25cb25;
  --evaluated-text-color: #ffffff;
  /* Other colors */
  --unknown-tile-border: #cacaca;
  --filled-tile-border: #949494;
  --text-color: #1b1b1b;
  --secondary-color: #696969;
  --clickable-color: #2364dd;
  /* Make sure to also change settings.ts */
  --page-background: #ffffff;
  /* Modal */
  --overlay-background: #ffffffbb;
  --modal-border: #dadada;
  --modal-shadow: 0 5px 15px #00000020;
  --modal-header-shadow: 0 5px 5px #00000033;
  --correct-background-soft: #50bf50;
  /* Segmented Control */
  --segmented-background: #ebebeb;
  --segmented-selected: #ffffff;
  /* Toast */
  --toast-background: #121212;
  --toast-text-color: #e8e8e8;
}

.dark {
  /* Keys */
  --unknown-background: #676767;
  --absent-background: #383838;
  --present-background: #dbba00;
  --correct-background: #12aa12;
  --evaluated-text-color: #ffffff;
  /* Other colors */
  --unknown-tile-border: #404040;
  --filled-tile-border: #696969;
  --text-color: #e8e8e8;
  --secondary-color: #939393;
  --clickable-color: #b7b7fd;
  /* Make sure to also change settings.ts */
  --page-background: #121212;
  /* Modal */
  --overlay-background: #121212de;
  --modal-border: #212121;
  --modal-shadow: 0 5px 6px #00000050;
  --modal-header-shadow: 0 5px 5px #00000087;
  --correct-background-soft: #4dbf4d;
  /* Segmented Control */
  --segmented-background: #303030;
  --segmented-selected: #565656;
  /* Toast */
  --toast-background: #ffffff;
  --toast-text-color: #1b1b1b;
}

.color-blind {
  --absent-background: #383838 !important;
  --present-background: #0066db !important;
  --correct-background: #ff9838 !important;
}

:root {
  --tap-target-size: 48px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body,
html,
#svelte {
  /* Can't use 100vh since Safari iOS includes below-the-fold areas. */
  height: 100%;
}

body {
  background: var(--page-background);
  color: var(--text-color);
}

body,
.latin {
  --font-size: 16px;
  --font-size-small: 14px;
  font-size: var(--font-size);
  font-family: "Nunito Sans", sans-serif;
  line-height: 1.5;
}

.linja-pona {
  --font-size: 29px;
  --font-size-small: 22px;
  font-size: var(--font-size);
  font-family: linja-pona;
  line-height: 1.3;
  font-feature-settings: "liga";
}

.linja-pona a {
  /* Otherwise the line cuts into cartouches. */
  text-underline-position: under;
  /* Prevent super thick lines. */
  text-decoration-thickness: 2px;
}

.linja-pona i {
  /* Don't artificially skew the text. */
  font-style: normal !important;
}

h1 {
  font-size: 28px;
  font-weight: 900;
  line-height: 1.3;
}

.linja-pona h1 {
  font-size: 40px;
  font-weight: normal;
}

h2 {
  font-size: 22px;
  font-weight: 700;
  text-align: center;
}

.linja-pona h2 {
  font-size: 40px;
  font-weight: normal;
}

a {
  color: var(--clickable-color);
}

button {
  border: none;
  padding: 0;
  margin: 0;
  font: inherit;
  font-weight: normal;
  background: none;
  color: inherit;
  line-height: inherit;
  user-select: none;
  -webkit-user-select: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1.3;
}

fieldset {
  border: 0;
}

legend {
  margin-bottom: 5px;
  font-weight: bold;
}

hr {
  border: none;
  border-top: 2px solid var(--secondary-color);
}
